# vscode files - anywhere
.vscode

# Build directories - anywhere
linux*Gcc*

# lnInclude (symlink) directories - anywhere
lnInclude

# Objects and archives - anywhere
*.[oa]
*.la
*.so

# Timestep directories - anywhere
0.*
[1-9]*

# logfiles - anywhere
log.*
*log
